@page
@model RazorPizzeria.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Our great selection of pizzas</h1>
        <p class="fs-4">
            Choose one, or try our pizza Builder! Then Order and Done!<br/>
            No need to give any of your details!<br/>
            We already know everything!
        </p>
        <p class="fw-light text-end"><i>Only one pizza per order.</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row customPizza">
                    <div class="col-4">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle customText">
                            <p class="fs-4 text-white fw-bold" style="text-align: left">Create your own Pizza!</p>
                            <p class="fs-6 text-white" style="text-align: left">Make your own Pizza with our Pizza Creator!</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomPizza">Try now!</a>
                        </div>
                    </div>
                </div>
            </div>            
            @foreach (var pizza in Model.fakePizzaDB)
            {
                var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");
                <div class="col-4 mb-5">
                    <a class="pizza-img" asp-area="" asp-page="Checkout/Checkout" 
                    asp-route-ImageTitle=@pizza.ImageTitle 
                    asp-route-PizzaPrice=@pizza.FinalPrice
                    asp-route-PizzaName=@pizza.PizzaName>
                        <img src=@imagePath class="w-100" asp-append-version="true" />
                    </a>
                    <br/>
                </div>

            }
        </div>
    </div>
</div>
